/* =============
    Base
============= */
figure{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}
.content-spacing{
    margin: 80px 0 0;
    @include md{margin: 80px 0 0;

    }
    @include lg{margin: 100px 0 0;

    }
}

.header-container{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". container .";

    @include md{ grid-template-columns: 30px auto 30px;}

    @include lg{ grid-template-columns: 40px auto 40px;}

    @include xl{ grid-template-columns: auto 1200px auto;}
    >div{
        grid-area: container;
    }
}

.show-for-md{
    display: none;
    @include md{
        display: block;
    }
}

.show-for-lg{
    display: none;
    @include lg{
        display: block;
    }
}

.show-for-xl{
    display: none;
    @include xl{
        display: block;
    }
}

