/* =============
    Typography
============= */
// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Vollkorn', serif;


h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

.section-title{
    font-family: 'Vollkorn', serif;
    font-size: rem-calc(30);
    font-weight: 600;
    text-decoration: none;
    color: white;
    text-align: center;
     margin: 20px 0 0;
    
    
}
.section-content{
    font-family: 'Open Sans', sans-serif;
    font-size: rem-calc(20);
    font-weight: 500;
    color: white;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    padding-top: 10px;
    span{
        font-weight: 300;
    }
}

