/* =============
    Typography
============= */
// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Vollkorn', serif;


h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

.section-title{
    font-weight: 300;
}
