/* =============
    Contact
============= */
/* --------------------------
    Contact Hero
 --------------------------*/
#contact-hero{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
        background-image: url('../img/contact/contact.jpg');
        height:40vh;
        background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
        display: flex;

        @include md{
            height: 40vh;
        }
        @include lg{
            height: 60vh;
           background-position: left top;
           background-size: cover;
        }

        #contact-content{
            width: 300px;
            text-align: center;
            color: white;
        
            
            @include md{
                width: 600px;
               
            }

            @include lg{
                width: 900px;
                
            }
            h1{
                font-family: 'Vollkorn', serif;
                font-size: rem-calc(50);
                font-weight: 500;
                text-decoration: none;
             

                @include md{
                    font-size: rem-calc(50);
                }

                @include lg{
                    padding-top: 50px;
                    font-size: rem-calc(80);
                }
            }

        }


}
/* --------------------------
    Contact Call Out
 --------------------------*/
 #contact-call-out{
    display: flex;
    justify-content: center;
    align-items: center;

    >div{
        display: flex;
        justify-content: center;
        align-items: center;
width: 80vw;
        @include lg{
            width: 40vw;
        }
       
        p{
            font-size: rem-calc(20);
           text-align: center;
            @include md{
                font-size: rem-calc(28);
                line-height: 40px;
            }
        }
    }
 }
/* --------------------------
    Contact Information
 --------------------------*/
 #home-hours{
    >div{display: grid;
        grid-template-areas: ". hydra ."
        ". hydra-2 .";
        @include md{
            grid-template-columns: auto 350px 40px 350px auto;
            grid-template-areas: ". hydra . hydra-2 .";
        }
        @include lg{
            grid-template-columns: auto 400px 40px 400px auto;
            grid-template-areas: ". hydra . hydra-2 .";
        }
        #hydra-division{
            grid-area: hydra;
            margin-bottom: 40px;
            width: 100%;

            @include md{
                // margin-bottom: 20px;
            }
        }

        #hydra-division-2{
            grid-area: hydra-2;
            margin-bottom: 40px;
            width: 100%;

            @include md{
                // margin-bottom: 20px;
            }
        }
        
        #repair-division{
            width: 100%;
            grid-area: repair;
            margin-bottom: 20px;
            @include md{margin-bottom: 0;
                iframe{
                    // margin-top: 30px;
                }
                
            }
        }
        .home-cards{background-color: $mint;
        // background: rgba($color: $mint, $alpha: .80);
        border-radius: 20px; 
       display: flex;
       flex-direction: column;
            width: 50px;
        justify-content: center;

        
        
        h1{ font-family: 'Vollkorn', serif;
            font-size: rem-calc(28);
            font-weight: 600;
            text-decoration: none;
            color: white;
            text-align: center;
            margin: 30px 15px 0;
            padding-bottom: 10px;
            border-bottom: white 2px solid;
        }
    
        h2{
            font-size: rem-calc(24);
        }
    
        a:link,
        a:visited {
            font-family: 'Open Sans', sans-serif;
    font-size: rem-calc(19);
    font-weight: 400;
    color: white;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    span{
        font-weight: 400;
    }
        }
        a:hover,
        a:active {
            color: $green;
        }
         #contact{
            display: flex;
            justify-content: center;
            flex-direction: column;
         }
    
         #hours{
            display: flex;
            justify-content: center;
            flex-direction: column;
         }
    
         #maps{display: flex;
            justify-content: center;
           padding: 10px 0 0 0;
            grid-area: mps;
            // margin-bottom: 30px;
            iframe{ 
                // height: 200px;
                width: 100%;
            }
    
         }
    
         
    
    }}
    
}
