/* =============
    Footer
============= */
footer{
    background: rgba($color: $metal, $alpha: .80);
    z-index: 1000;
    div{display: grid;
        grid-template-columns: 35% auto 10%;
        grid-template-areas: "info logo social";
        align-items: center;
        gap: 20px;
       padding: 20px 0 0;

        @include md{
            grid-template-columns: 20% auto 20%;
        }
     
        #logo-container{
            grid-area: logo;
            a {
                display: flex;
                justify-content: center;
                align-items: center;

                img {align-items: center;
                    object-fit: cover;
                    object-position: center;
                    height: 80%;
                    width: 80%;

                    @include md{
                        height: 50%;
                    width: 50%;
                    }
                    @include lg{
                        height: 30%;
                    width: 30%;
                    }
                }
            }
        }

        #footer-info{
            grid-area:info ;
            
            #name-logo{
                font-family: 'Vollkorn', serif;
                font-size: rem-calc(16);
                font-weight: 500;
                text-decoration: none;
                color: white;
                @include md{
                    font-size: rem-calc(20);
                }
            }
            li{ padding-bottom: 20px;
                text-align: left;
            }
            li:nth-child(1) {font-size: rem-calc(16);
                @include md{
                    font-size: rem-calc(24);
                }
            }
            a:link,
            a:visited {
				color: white;
				font-family: 'Open Sans', sans-serif;
				font-size: rem-calc(13);
				font-weight:400;
				text-decoration: none;
				transition: 0.25s;
                width: 100%;
                
                @include md{
                    font-size: rem-calc(16);
                    line-height: 20px;
                }
			}
			a:hover,
            a:active {
                color: $green;
			}
    }

   

    #footer-social{grid-area: social;
        display: flex;
        justify-content: flex-end;
        align-items: center;

      
        li{
             padding-bottom: 10px;}
        a:link,
        a:visited {
            color: white;
            font-size: rem-calc(24);
            transition: 0.25s;
            
        }
        a:hover,
        a:active {
            color: $green;
        }
        
    }
        
    }


}