/* =============
    Header
============= */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    @include lg{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: rgba($color: $mint, $alpha: .70);
    border-radius: 0 0 30px 30px;
    }
    div {
        display: grid;
        grid-template-columns: auto 50px;
        grid-template-areas: "logo burger"
            "nav nav";
        @include lg {
            grid-template-columns: 25% auto;
            grid-template-areas: "logo nav";
        }
        #logo-container {
            display: none;

            @include lg{display: flex;
                justify-content: flex-start;
                align-items: center;
                grid-area: logo;}
            a {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                img {
                    object-fit: cover;
                    object-position: center;
                    height: 40%;
                    width: 40%;

                    @include md{
                        height: 30%;
                    width: 30%;
                    }
                    @include lg{
                        height: 50%;
                    width: 50%;
                    }
                }
            }
        }

        #nav-container {
            background: rgba($color: grey, $alpha: .9);
            display: none;
            grid-area: nav;
            text-decoration: none;
            border-radius: 20px;
margin-top: 20px;


            @include lg {
                background: none;
                display: grid;
                grid-template-rows: 60% auto;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin: 0;
                width: auto;
            }


        }

        #burger-container {
            align-items: center;
            color: white;
            display: flex;
            font-size: rem-calc(30);
            justify-content: center;
            grid-area: burger;
            padding: 10px 0;
            background-color: rgba($color: $mint, $alpha: .60);
            border-radius: 25px;
            margin-top: 20px;

            @include lg {
                display: none !important;
            }

            i {
                cursor: pointer;
            }
        }


    }
}