/* =============
    Header
============= */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: rgba($color: $green, $alpha: .60);
    
    div {
        display: grid;
        grid-template-columns: 80% auto;
        grid-template-areas: "logo burger"
        "nav nav";
        
       
        

        @include lg{
          grid-template-columns: repeat(2, 1fr);
          grid-template-areas: "logo nav";
        }
        
        // #logo-container{
        //     display: flex;
        //     justify-content: flex-start;
        //     align-items: center;
        //     grid-area: logo;
        //     h1{font-family: 'Vollkorn', serif;
        //         font-weight: 600;
        //         font-size: rem-calc(40);
        //         color: white;

        //     }
        // }

        #logo-container{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            grid-area: logo;
            
             a{ display: flex;
                justify-content: flex-start;
                align-items: center;
                img{object-fit: cover;
                    object-position: center;
                    height: 60%;
                    width: 60%;
                 }
             }
        }
        
        #nav-container{
            background-color: black;
			display: none;
			grid-area: nav;
			text-decoration: none;
            @include lg {
                background: none;
                display: grid;
                grid-template-rows: 60% auto;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            
            
        }

        #burger-container {
            align-items: center;
            color: white;
            display: flex;
            font-size: rem-calc(35);
            justify-content: flex-end;
            grid-area: burger;
            @include lg {
				display: none !important;
			}
			i {
				cursor: pointer;
			}
        }

        
    }
}