/* =============
    Navigation
============= */
#nav-container {
    #section-buttons {
        ul {
            height: 100%;
            padding-top: 20px;

            @include lg {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 0vh;
            }

            li {
                margin-bottom: 30px;
                text-align: right;
                padding-right: 20px;
                @include lg {
                    padding: 15px 0 15px 25px;
                    margin-bottom: 0;
                }

                h1 {
                    display: none;
                }

                a:link,
                a:visited {
                    color: white;
                    font-family: 'Open Sans', sans-serif;
                    font-size: rem-calc(18);
                    font-weight: 500;
                    text-decoration: none;
                    transition: 0.25s;
                    width: 100%;

                    @include lg {
                        color: white;
                        font-size: rem-calc(18);
                    }

                }

                a:hover,
                a:active {
                    color: $mint;
                }


            }






        }
    }

    #social-buttons {

        ul {

           display: flex;
                justify-content: flex-end;
            

            a {
                @include lg{align-items: center;
                }
            }

            li {text-align: right;
                margin-bottom: 10px;
                padding-right: 20px;
                @include lg {
                    padding: 0 0 0 15px;
                    margin-bottom: 0;
                }

                a:link,
                a:visited {
                    color: $mint;
                    font-size: rem-calc(27);
                    transition: 0.25s;

                    @include lg {
                        color: black;
                    }
                }

                a:hover,
                a:active {
                    color: $mint;
                }


            }




        }
    }

}